@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: #454545;
}

.navbar {
    background-color: #454545;
    padding: 0.4rem 0;
}

.nav-container {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.nav-title {
    font-size: 2.2rem;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: 2rem;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 3rem auto;
    background-image: url('./img/deniz.jpg');
    background-size: cover;   /* Resmi alanın tamamına sığdırır */
    background-position: center;    /* Resmi ortalar */
    background-repeat: no-repeat;   /* Resmin tekrar etmesini engeller */    
}

.container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);

}

.container .text {
    width: 80%;
    height: 500px;
    margin: 1rem auto 0;
    z-index: 2;
    
}

.container h2 {
    color: #fff;
    font-size: 2.5rem;
}

.container p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.9;
    margin-bottom: 3rem;
}

.container img {
    width: 36rem;
    height: 24rem;
}

.container .btn {
    font-size: 1.15rem;
    background-color: white;
    color: black;
    padding: 0.8rem 1.5rem;
    border: 1px solid #000;
    border-radius: 10px;
    transition: all 0.5s;
}

.container .btn:hover {
    background-color: #ccc;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 12rem auto 5rem;
}

.card {
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

.card h4 {
    margin: 1rem 0 0 0;
}

.card img {
    width: 21rem;
    height: 12rem;
}

/* Contact Page */
.contact-container {
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

.contact-container h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0 4rem 0;
}

.section {
    display: flex;
    justify-content: space-between;
}

.section .map iframe{
    width: 600px;
    height: 400px;
}

.contact-container h2 {
    font-size: 1.5rem;
}

.contact-container p {
    margin: 2rem 0;
    font-size: 1.1rem;
}

/* Vehicles */
.cars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 85%;
    margin: 7rem auto;
}

.car {
    margin: 0 auto;
    background-color: white;
}

.car h4 {
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem 0;
}

.car img {
    border-bottom: 1px solid #000;
}

.car-feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.car-feature p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-feature p span {
    margin-right: 5px;
}

@media(max-width: 768px) {
    .nav-title {
        font-size: 1.5rem;
    }

    .nav-container ul {
        margin: 0;
        padding: 0;
    }

    .nav-container ul li {
        margin-left: 1.5rem;
        font-size: 1rem;
    }
    .nav-container ul li:first-child{
        display: none;
    }
    .container {
        flex-direction: column;
    }

    .container p {
        font-size: 1rem;
    }

    .container .btn {
        margin-bottom: 5rem;
    }

    .cards {
        flex-direction: column;
        margin: 10rem auto 0rem;
    }
    .card {
        font-size: 2rem;
        margin-bottom: 4rem;
    }
    /* Contact */
    .section{
        flex-direction: column;
    }
    .contact-info{
        margin-bottom: 2rem;
    }
    .section .map iframe{
        width: 320px;
        height: 250px;
    }
    /* Vehicles */
    .cars{
        grid-template-columns: repeat(1, 1fr);
        margin: 7rem auto 2rem;
    }
    .car{
        width: 100%;
        margin-bottom: 5rem;
    }
}